<nav class="uk-navbar-container uk-margin" uk-navbar>
  <div class="uk-navbar-center">

    <div class="uk-navbar-center-left"><div>
      <ul class="uk-navbar-nav">
        <li><a href="/">Рецепты</a></li>
      </ul>
    </div></div>

    <a class="uk-navbar-item uk-logo uk-disabled">CoffeeStrike</a>

    <div class="uk-navbar-center-right"><div>
      <ul class="uk-navbar-nav">
        <li><a href="#">Вход</a></li>
      </ul>
    </div></div>

  </div>

  <div class="uk-navbar-right">

    <div>
      <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
      <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
        <form class="uk-search uk-search-navbar uk-width-1-1">
          <input [(ngModel)]="searchText" (ngModelChange)="searchDrink()"
                 class="uk-search-input" type="search" name="search" placeholder="Поиск..." autofocus>
        </form>
      </div>
    </div>

  </div>


</nav>
